.header {
    background-color: #ab1dce;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header h2 {
    margin: 0;
}

.addBtn {
    padding: 10px 15px;
    width: 10%;
    background-color: #8834c0;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #762da7;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #680f8b;
}

#myInput {
    padding: 11px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-items: center;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px; /* padding around checkbox and text */
    background-color: #fff;
    font-size: 16px;
    border: 4px solid #b766c9;
    border-radius: 10px;
    display: flex; /* align checkbox and text */
    margin: 5px;
}

ul li input[type="checkbox"] {
    margin-right: 10px;
}

ul li span {
    flex-grow: 1;
}

.delete-btn {
    background-color: #c43228; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px; /* Space between text and delete button */
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #bb3b32;
}

.checked {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}
